= render "shared/navbar"
.mypage-container
  %ul.mypage-container__user-info
    -if current_user.image.url.present?
      %li.mypage-container__user-info
        = image_tag(current_user.image.url, class: "mypage-icon")
      %li.mypage-container__user-info__name
        = current_user.nickname

  .mypage-main
    %ul.mypage-main__list
      %li.users-postted 
        =link_to my_post_user_path(current_user) do
          %button.mypage-btn 投稿した歌詞
      %li.users-favorit 
        =link_to my_favorit_user_path(current_user) do
          %button.mypage-btn お気に入り
      %li.edit-user-info 
        =link_to edit_user_registration_path do
          %button.mypage-btn アカウント編集
= render "shared/post-btn"