
.side-body
  .side-body__user-icon
    -if current_user.image.url.present?
      = image_tag(current_user.image.url, width: 150, height: 150)
    .side-body__user-icon__name
      = current_user.nickname
  = link_to destroy_user_session_path do
    %button.default-btn ログアウト