.delete-btn {
  width: 300px;
  height: 35px;
  background-color: rgb(83, 221, 168);
  border-color: rgb(83, 221, 168);
  cursor: pointer;
  margin-top: 25px;
  border-radius: 1em;
  color: white;
  margin-bottom: 20px;
  box-shadow: 2px 3px 3px #225529;
}

.delete-post {
  width: 103px;
  height: 40px;
  font-size: 16px;
  background-color: #53dda8;
  border-color: #53dda8;
  cursor: pointer;
  border-radius: 3em;
  color: white;
  box-shadow: 2px 3px 3px #225529;
}

.default-btn {
  width: 300px;
  height: 35px;
  background-color: $blaun;
  border-color: $blaun;
  cursor: pointer;
  margin-top: 25px;
  border-radius: 1em;
  color: white;
  box-shadow: 2px 3px 3px $blaun;
}

.default-btn__side {
  width: 250px;
  height: 35px;
  background-color: rgb(83, 221, 168);
  border-color: rgb(83, 221, 168);
  cursor: pointer;
  margin-left: 20px;
  margin-top: 25px;
  border-radius: 1em;
  box-shadow: 2px 3px 3px #225529;
  color: white;
}

.post-btn {
  font-size: 23px;
  background-color: red;
  color: white;
  width: 130px;
  height: 130px;
  border-radius: 6em;
  position: fixed;
  top: 633px;
  left: 1260px;
}