.default-btn {
  width: 300px;
  height: 35px;
  background-color: $blaun;
  border-color: $blaun;
  cursor: pointer;
  margin-top: 25px;
  border-radius: 1em;
  color: white;
  box-shadow: 2px 3px 3px $blaun;
}


.post-btn {
  font-size: 23px;
  background-color: red;
  border-color: red;
  color: white;
  width: 130px;
  height: 130px;
  border-radius: 6em;
  position: fixed;
  top: 633px;
  left: 1260px;
  box-shadow: 2px 3px 3px rgb(88, 63, 63);
}

.mypage-btn {
  font-size: 23px;
  background-color: rgba(165, 86, 11, 0.74);
  border-color: rgba(165, 86, 11, 0.74);
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 6em;
  box-shadow: 4px 5px 3px rgb(90, 66, 46);
}

.detail-page-btn {
  width: 70px;
  height: 70px;
  background-color: $blaun;
  border-color: $blaun;
  cursor: pointer;
  margin-top: 25px;
  color: white;
  box-shadow: 2px 3px 3px $blaun;
}

.edit-page-btn {
  width: 100px;
  height: 50px;
  background-color: $blaun;
  border-color: $blaun;
  cursor: pointer;
  margin-top: 60px;
  color: white;
  box-shadow: 2px 3px 3px $blaun;
  margin-right: 20px;
}

.send-btn {
  width: 55px;
  height: 40px;
  background-color: #8b6317;
  color: white;
  float: left;
  margin-top: 5px;
}

.good-btn{
  width: 70px;
  height: 70px;
  background-color: $blaun;
  border-color: $blaun;
  cursor: pointer;
  margin-top: 25px;
  color: white;
  box-shadow: 2px 3px 3px $blaun;
  display: inline-flex;
  & i , .good-counter{
    line-height: 70px;
    padding-left: 10px;
  }
}


.good-icon {
  margin-top: 10px;
  color: white;
  display: inline-flex;
  justify-content: space-evenly;
  width: 70px;
  padding-top: 3px;
}

.mypage-btn:hover,.default-btn:hover,.good-btn:hover,.detail-page-btn:hover,.edit-page-btn:hover,.send-btn:hover,.details-btn:hover {
  background-color: orange;
  border-color: orange;
}

