html, body {
  height: 110%;
  width: 100%;
}

.default-btn {
  width: 300px;
  height: 35px;
  background-color: rgb(83, 221, 168);
  border-color: rgb(83, 221, 168);
  cursor: pointer;
  margin-top: 25px;
  border-radius: 1em;
  color: white;
}

.default-btn__side {
  width: 250px;
  height: 35px;
  background-color: rgb(83, 221, 168);
  border-color: rgb(83, 221, 168);
  cursor: pointer;
  margin-left: 20px;
  margin-top: 25px;
  border-radius: 1em;
}

.input-default {
  width: 90%;
  height: 20%;
  margin-top: 5px;
}
