html, body {
  height: 100%;
  width: 100%;
}

.default-back {
  height: 100%;
  width: 100%;
  background-color: $thin-blaun;
}

.input-default {
  width: 93%;
  height: 40px;
  margin-top: 5px;
  float: left;
}
