.edit-page-title {
  text-align: center;
  background-color: $deep-blue;
  color: white;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  font-weight: lighter;
}

.edit-page {
  background-color: $thin-blaun;
  height: 120%;
}

.edit-user-field {
  text-align: center;
  height: 100%;
  width: 700px;
  margin: 0 auto;
  background-color: $soft-blaun;
  & .field {
    width: 400px;
    padding-top: 30px;
    color: $blaun;
    font-weight: bold;
    display: inline-block;
    &__check-user {
      color: rgb(179, 45, 45);
      font-weight: bold;
      padding-top: 10px;
    }
    & input {
      margin-top: 10px;
      width: 340px;
      border-radius: 1em;
      text-align: center;
    }
  }
}

.delete-field {
  margin-top: 25px;
  &__text {
    color: rgb(179, 45, 45);
    font-weight: bold;
    &__btn {
      padding-left: 200px;
    }
  }
}

