.all-lyric {
background-color: $thin-blaun;
  color: $deep-blue;
  font-size: 33px;
  position: absolute;
  top: 99px;
  left: 33px;
  &__tag {
    background-color: $blaun;
    color: white;
    width: 40px;
    height: 333px;
  }
}
.main-container {
  width: 100%;
  height: 100%;
}

.info {
  font-size: 40px;
  padding-left: 215px;
  padding-top: 270px;
  color: rgb(240, 229, 210);
  &__top {
    padding-left: 60px;
  }
}

.postted-lyric {
  height: 100%;
  background-color: #e0d4c4;
  &__list {
    height: 100%;
    overflow: scroll;
    padding-top: 40px;
    width: 999px;
    margin: 0 auto;
    background-color: #e0c5a5;
    &__label {
      list-style: none;
      width: 999px;
      height: 113px;
      background-color: white;
      color: rgb(109, 106, 106);
      display: flex;
      padding-left: 0px;
      overflow: hidden;

      &__song {
        padding-left: 20px;
        padding-top: 8px;
        width: 743px;
        border-right: dashed 1px rgb(109, 106, 106);
        &__lyric {
          width: 679px;
          margin-top: 10px;
          padding-top: 10px;
          padding-left: 0;
          border-top: dashed 1px rgb(109, 106, 106);
          list-style: none;
          display: inline-flex;
        }
      }
    }
  }
}

.show-title ,.show-lyric{
  font-weight: bold;
  font-size: 19px;
  padding-right: 6px;
}

.show-lyric {
  padding-right: 13px;
}
.user-icon {
  width: 83px;
  height: 113px;
  text-align: center;
  padding: 5px 5px;
  background-color: rgb(160, 65, 65);
  color: white;
}

.good-count {
  width: 80px;
  height: 90px;
  margin-left: 10px;
  line-height: 90px;
  font-size: 20px;
  color: red;
}

.details-btn {
  background-color: rgb(139, 99, 23);
  color: white;
  float: right;
  width: 83px;
  height: 113px;
  cursor: pointer;
}

.users-image{
  border-radius: 1em;
}


nav {
  padding-left: 40%;
}