.log-in-field {
  text-align: center;
  height: 100%;
  width: 700px;
  margin: 0 auto;
  background-color: $soft-blaun;
  & .field {
    font-weight: bold;
    padding-top: 30px;
    color: $blaun;
    &__input {
      margin-top: 10px;
      width: 400px;
      border-radius: 1em;
      text-align: center;
    }
  }
}
