.log-in-field {
  text-align: center;
  height: 100%;
  width: 700px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: rgb(139, 177, 139);
  & .field {
    font-weight: bold;
    padding-top: 30px;
    color: rgb(14, 59, 14);
    &__input {
      margin-top: 10px;
      width: 400px;
      border-radius: 1em;
      text-align: center;
    }
  }
}
