$deep-blue: rgb(29, 63, 90);
$green-blue: rgb(49, 160, 160);
$soft-green: #dbfddb;
$whine-red: rgb(138, 68, 68);
$blue: rgb(45, 120, 182);
$soft-purple: rgb(141, 141, 233);
$blaun: rgb(139, 99, 23);
$autom-red: rgb(160, 65, 65);
$soft-blaun: #e0c5a5;
$thin-blaun: #e0d4c4;