.list-favorit {
  background-color: $thin-blaun;
  color: $deep-blue;
  font-size: 33px;
  position: absolute;
  top: 99px;
  left: 20px;
  &__tag {
    background-color: $blaun;
    color: white;
    padding: 10px 0 10px 10px;
    width: 178px;
    border-radius: 10px;
  }
}

.list-post {
  background-color: $thin-blaun;
  color: $deep-blue;
  font-size: 33px;
  position: absolute;
  top: 99px;
  left: 25px;
  &__tag {
    background-color: $blaun;
    color: white;
    width: 155px;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
  }
}